<div class="dashboard-page">

<div class="container">

  <div class="row">
    <div class="col-md-10">
      <h4>Week of
        <div class="week-select-container">
          <select class="form-control">
            <option selected>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
          </select>
        </div>
        <div class="week-select-container">
          <select class="form-control">
            <option selected>6</option>
            <option>13</option>
            <option>20</option>
            <option>27</option>
          </select>
        </div>
      </h4>
    </div>
      <div class="col-md-2">
        <a href="children/new" type="button" class="btn btn-default">Add Child +</a>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a {{#if activeDay.monday}}class="day-selected"{{/if}} href="?day=monday">{{mondayCount}} attending</a></td>
            <td><a {{#if activeDay.tuesday}}class="day-selected"{{/if}}href="?day=tuesday">{{tuesdayCount}} attending</a></td>
            <td><a {{#if activeDay.wednesday}}class="day-selected"{{/if}}href="?day=wednesday">{{wednesdayCount}} attending</a></td>
            <td><a {{#if activeDay.thursday}}class="day-selected"{{/if}}href="?day=thursday">{{thursdayCount}} attending</a></td>
            <td><a {{#if activeDay.friday}}class="day-selected"{{/if}}href="?day=friday">{{fridayCount}} attending</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li {{#if attending}}class="active"{{/if}}><a href="/">Attending</a></li>
    <li {{#if waiting}}class="active"{{/if}}><a href="?state=waiting">Waiting</a></li>
  </ul>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>

    {{#each kids}}
    <tr>
      <td>{{child_first_name}}
          {{child_last_name}}</td>
      <td>{{ageInYears}} years {{ageInMonths}} months</td>
    </tr>
    {{/each}}

  </table>

</div>

</div>
