<div class="dashboard-page">

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h4>Week of
        <div class="week-select-container">
          <select class="form-control">
            <option selected>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
          </select>
        </div>
        <div class="week-select-container">
          <select class="form-control">
            <option selected>6</option>
            <option>13</option>
            <option>20</option>
            <option>27</option>
          </select>
        </div>
      </h4>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{mondayCount}} attending</td>
            <td>{{tuesdayCount}} attending</td>
            <td>{{wednesdayCount}} attending</td>
            <td>{{thursdayCount}} attending</td>
            <td>{{fridayCount}} attending</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a href="children/new" type="button" class="btn btn-default">Add Child +</a>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>

    {{#each kids}}
    <tr>
      <td>{{child_first_name}}
          {{child_last_name}}</td>
      <td>{{ageInYears}} years {{ageInMonths}} months</td>
    </tr>
    {{/each}}

  </table>

</div>

</div>
